__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.eggs/
.Python
build/
dist/
venv/
.env
.env.local
.venv
pip-wheel-metadata/
.git
.gitignore
.idea/
.vscode/
.DS_Store
__MACOSX/
# Temporary pipelines
*.log
temp/
tmp/
softsubs_m/
hardsubs_m/
downloads/
data/